<div class="join ">
    <div class="join-item">
        <label class="input">
            <svg class="h-[2em] opacity-50" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24">
                <g fill="none" stroke="currentColor" stroke-width="1.5">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 15a3 3 0 1 0 0-6a3 3 0 0 0 0 6" />
                    <path d="M2 12h7m6 0h7" />
                </g>
            </svg>
            <input class="placeholder:opacity-50" type="search" required placeholder="Search a pokemon!" #input />
        </label>
    </div>
    @if (isLoading()) {
    <button class="btn btn-primary join-item" [disabled]="isLoading()" (click)="sendQuery(input.value)"><svg
            xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-dasharray="16" stroke-dashoffset="16" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" d="M12 3c4.97 0 9 4.03 9 9">
                <animate fill="freeze" attributeName="stroke-dashoffset" dur="0.2s" values="16;0" />
                <animateTransform attributeName="transform" dur="1.5s" repeatCount="indefinite" type="rotate"
                    values="0 12 12;360 12 12" />
            </path>
        </svg></button>
    }@else{
    <button 
        class="btn btn-primary join-item" 
        [disabled]="isLoading()" 
        (click)="sendQuery(input.value)">
            Search
        </button>
        }
</div>