<div class="grid grid-cols-[1fr_3fr_1fr] grid-rows-[1fr_4fr_2fr]">
    <div class="col-start-2 col-end-3 row-start-2 row-end-4">
        <div class="flex flex-col items-center">
            @if (pokemonResource.hasValue()) {
                <pokemon-card [pokemon]="pokemonResource.value()"/>
            }
            <pokemon-search 
                class="mt-10" 
                [isLoading]="pokemonResource.isLoading()"
                (query)="setQuery($event)" 
                />
        </div>
    </div>
</div>